<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="name" nzRequired>名称</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="请输入名称!">
      <input id="name" type="text" nz-input formControlName="name" (ngModelChange)="formItemChange('name',$event)" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="id">id</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="请输入id!">
      <input id="id" type="text" nz-input formControlName="id" (ngModelChange)="formItemChange('id',$event)" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="desc">描述</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="输入描述!">
      <textarea id="desc" type="text" nz-input formControlName="desc" (ngModelChange)="formItemChange('desc',$event)">
        </textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="assignee">指派人</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="请选择!">
      <nz-select id="assignee" formControlName="assignee" nzPlaceHolder="选择"
        (ngModelChange)="formItemChange('assignee',$event)">
        <nz-option nzValue="zhangsan" nzLabel="张三"></nz-option>
        <nz-option nzValue="lisi" nzLabel="李四"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
